<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <style>
      body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
      }
      .container {
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      label {
        display: block;
        margin-bottom: 10px;
      }
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin-bottom: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      }
      input[type="submit"] {
        background-color: #4caf50;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      input[type="submit"]:hover {
        background-color: #3e8e41;
      }
      #error-message {
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <% if (msg) { %>
      <div id="error-message"><%= msg %></div>
      <% } %>
      <form action="/process_login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
